* {
    box-sizing: border-box;
    transition: all 1s;
  }
  
  body {
  background-color: #00F5D4  ;
    color: #272F30;
    font: 16px Oxygen, Arial, Helvetica, sans-serif;
    font-weight: 300;
    padding: 50px 0;
  }
  
  ul, li {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .plan-title{
    text-align: center;
    font-size: 4rem;
  }
  .pricing-btn-div{
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
  }
  .pricing-btn{
    padding: 10px 20px;
    background: #00F5D4;
    border: 2px solid black;
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin: 10px;
    cursor: pointer;
  }
  .element-hidden {
    display: none;
  }
  
  .plan-name, .plan-price, .plan-details, .button, .more-options, .best-choice {
    padding: 10px;
  }
.plan-name-sub-heading{
    text-align:center;
    margin-bottom: 1.5rem;
}
.plan-choir-member{
    font-size: 20px !important;
}
.plan-free-try{
    font-size: 30px;
    text-align: center;
}
  .plan-price{
      display: flex;
      flex-direction: column;
      gap: .8rem;
      border-bottom: 3px solid black;
      border-top: 3px solid black;
      color: black;
  }
  .plan-price-left-decrement, .plan-price-left-increment{
    height: 30px;
    width: 30px;
    border-radius: 6px;
    border: none;
    font-size: 16px;
    font-weight: 600;
    background-color: transparent;
    border: 2px solid black;
  }
  .plan-price-left-text{
    height: 30px;
    width: 90px;
    border-radius: 6px;
    border: none;
    margin: 0 5px;
    align-items: center;
    text-align: center;
    background-color: transparent;
    border: 2px solid black;
  }

  .plan-price-heading{
      text-align: center;
      margin: auto;
  }
  .plan-price-heading-span{
      font-size: 20px;
  }
  
  .plans {
    margin: 0 auto;
    max-width: 80%;
    display: flex;
    flex-flow: row wrap;
    position: relative;
    justify-content: center;
  }
  .plan-box{
    margin: 20px;
    
  }
  .plans .plan-box {
    display: flex;
    width: 29.3333%;
    background: #01F6D5;
    color: black;
    border: 8px solid #272F30;
    box-shadow: 0 0 13px 0 rgb(0 0 0 / 16%);
    margin: 10px 10px;
    min-height: 750px;
  }
  .plans .plan-box .best-choice {
    background: #D5FFFC;
    text-transform: uppercase;
    font-weight: 600;
    color: #437299;
    -webkit-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15), inset 0 2px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15), inset 0 2px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -2px 3px rgba(0, 0, 0, 0.15), inset 0 2px 3px rgba(0, 0, 0, 0.15);
    margin-top: auto;
  }
  .plans .plan-box:hover {
    margin-top: -15px;
    background: #00F5D4;
  }
  @media all and (max-width: 700px) {
    .plans .plan-box {
      margin-top: 50px;
    }
    .plans .plan-box:hover {
      margin-top: 10px;
    }
  }
  .plans .plan-box:hover .plan-name {
    color: black;
  }
  .plans .plan-box:hover .plan-price {
    background: #00f5d4cc;
    -webkit-box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.15), inset 0 4px 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.15), inset 0 4px 3px rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -4px 3px rgba(0, 0, 0, 0.15), inset 0 4px 3px rgba(0, 0, 0, 0.15);
    text-align: center;
  }
  .plans .plan-box:hover .more-options {
    display: block;
    padding: 20px;
    text-align: right;
    position: relative;
  }
  .plans .plan-box:hover .more-options .additional-options {
    position: relative;
    text-align: left;
    width: 100%;
    margin: 0;
  }
  .plans .plan-box:hover .more-options a {
    color: #00F5D4;
    text-decoration: none;
  }
  @media all and (max-width: 700px) {
    .plans .plan-box:first-child {
      margin-bottom: 20px;
    }
  }
  .plans .plan-box:nth-child(2) {
    margin-top: -60px;
    -webkit-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15), 3px 0 3px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15), 3px 0 3px rgba(0, 0, 0, 0.15);
    box-shadow: -3px 0 3px rgba(0, 0, 0, 0.15), 3px 0 3px rgba(0, 0, 0, 0.15);
    position: relative;
  }
  .plans .plan-box:nth-child(2):hover {
    margin-top: -35px;
  }
  @media all and (max-width: 700px) {
    .plans .plan-box:nth-child(2) {
      margin-top: 50px;
      
    }
    .plans .plan-box:nth-child(2):hover {
      margin-top: 50px;
      
    }
  }
  @media all and (max-width: 700px) {
    .plans .plan-box {
      width: 100%;
    }
  }
  .plans .plan-name {
    font: 300 32px Oswald, Arial, Helvetica, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
  }
  .plans .plan-price {
    background: #00F5D4;
    color: black;
    display: flex;
    font: 24px Oswald, Arial, Helvetica, sans-serif;
    padding: 20px 10px;
    text-align: center;
  }
  .plans .plan-price strong {
    font-size: 34px;
    align-self: baseline;
    line-height: 1;
    font-weight: 500;
  }
  .plans .plan-options {
    display: flex;
    flex-flow: column;
    width: 100%;
  }
  .plan-options-div{
    display: flex;
    flex-wrap: wrap;
    align-content: stretch;
    justify-content: space-between;
    align-items: center;
  }
  .plans .plan-options li {
    color: black;
    padding: 5px 0;
    margin: 5px 0;
  }
  .list-item{
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: center;
  }
  .list-icon{
    margin-right: 10px;
  }
  .plans .plan-options .button {
    margin-top: auto;
    display: block;
    background: #00f5d4cc;
    color: black;
    text-align: center;
    font: 24px Oswald, Arial, Helvetica, sans-serif;
    text-decoration: none;
  }
  .plans .plan-options .button:hover {
    background: #00f5d4cc;
  }
  .button{
    border-top: 2px solid black;
  }